{% extends "_base_vue.html" %}

{% block title %}Review Detail{% endblock %}

{% block main %}
  <h2 class="text-center">Review Detail</h2>
  <div class="card border-primary m-auto mb-3 p-3" style="max-width: 40rem">
    <div class="card-body">
      <h5 class="card-title">{{ review.review }}</h5>
      <h6 class="card-subtitle mb-2 text-muted">{{ review.first_name }} {{ review.last_name }} on {{ review.created }}</h6>
    </div>
    {% if review.user == user %}
    <a href="{% url 'pages:review-delete' review.pk %}"
          class="btn btn-danger btn-sm float-end me-2">Delete</a>
    {% endif %}
  </div>
{% endblock %}